<!DOCTYPE html>
<html>
<head>
Contact Us:
</head>

<body>
<br/><b>India</b><br/>
<b>Corporate office</b><br/>
NewEra Inida Pvt.Ltd.,<br/>
Himayath Nagar,<br/>
Hyderabad - 500 029<br/>
Telephone No. : 040 - 45452323<br/>
Fax           : 040 - 45453434<br/><br/>

<br/><b>Diamonds Division, Chennai</b><br/>
NewEra Inida Pvt.Ltd. - (Diamonds Division)<br/>
Anna Salai<br/>
TNagar<br/>
Chennai - 483322<br/>
Telephone No. : 088 - 32322323<br/>
Fax           : 088 - 54543434<br/><br/>


</br></br>
&nbsp;&nbsp;&nbsp;
 <a href="/">Back</a>


</body>
</html>

